In [20]:
import numpy as np
import pandas as pd
import requests

In [21]:
with requests.get(
    "https://docs.google.com/spreadsheets/d/1-DWTP8uwVS-dZY402-dm0F9ICw_6PNqDGLmH0u8Eqa0/export?format=csv"
) as r, open("Dataset/impuestos.csv", "wb") as f:
    for chunk in r.iter_content():
        f.write(chunk)

In [22]:
df = pd.read_csv("Dataset/impuestos.csv")

In [23]:
df.head()

,anios_estudiados,barrio,categoria_de_trabajo,edad,educacion_alcanzada,estado_marital,ganancia_perdida_declarada_bolsa_argentina,genero,horas_trabajo_registradas,religion,rol_familiar_registrado,tiene_alto_valor_adquisitivo,trabajo
0,17,Palermo,empleado_provincial,39,universidad_3_anio,sin_matrimonio,2174,hombre,40,cristianismo,sin_familia,0,entretenimiento
1,17,Palermo,monotibutista,50,universidad_3_anio,matrimonio_civil,0,hombre,13,cristianismo,casado,0,directivo_gerente
2,13,Palermo,relacion_de_dependencia,38,4_anio,divorciado,0,hombre,40,cristianismo,sin_familia,0,limpiador
3,11,Palermo,relacion_de_dependencia,53,2_anio,matrimonio_civil,0,hombre,40,judaismo,casado,0,limpiador
4,17,Balvanera,relacion_de_dependencia,28,universidad_3_anio,matrimonio_civil,0,mujer,40,judaismo,casada,0,profesional_especializado

In [24]:
df.shape

(32561, 13)

In [25]:
tienen_guion = df.isna().sum()
tienen_guion

anios_estudiados                                 0
barrio                                         583
categoria_de_trabajo                          1836
edad                                             0
educacion_alcanzada                              0
estado_marital                                   0
ganancia_perdida_declarada_bolsa_argentina       0
genero                                           0
horas_trabajo_registradas                        0
religion                                         0
rol_familiar_registrado                          0
tiene_alto_valor_adquisitivo                     0
trabajo                                       1843
dtype: int64

In [26]:
df[((df['trabajo'].isna())&(df['categoria_de_trabajo'].isna()))]

,anios_estudiados,barrio,categoria_de_trabajo,edad,educacion_alcanzada,estado_marital,ganancia_perdida_declarada_bolsa_argentina,genero,horas_trabajo_registradas,religion,rol_familiar_registrado,tiene_alto_valor_adquisitivo,trabajo
27,14,Boedo,NaN,54,5_anio,matrimonio_civil,0,hombre,60,budismo,casado,1,NaN
61,8,NaN,NaN,32,7-8_grado,pareja_no_presente,0,hombre,40,cristianismo,sin_familia,0,NaN
69,14,Palermo,NaN,25,5_anio,sin_matrimonio,0,hombre,40,cristianismo,con_hijos,0,NaN
77,10,Palermo,NaN,67,1_anio,matrimonio_civil,0,hombre,2,cristianismo,casado,0,NaN
106,10,Palermo,NaN,17,1_anio,sin_matrimonio,34095,mujer,32,cristianismo,con_hijos,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32530,17,Palermo,NaN,35,universidad_3_anio,matrimonio_civil,0,mujer,55,cristianismo,casada,1,NaN
32531,17,Palermo,NaN,30,universidad_3_anio,sin_matrimonio,0,mujer,99,budismo,sin_familia,0,NaN
32539,20,Palermo,NaN,71,universiada_6_anio,matrimonio_civil,0,hombre,10,cristianismo,casado,1,NaN
32541,13,Palermo,NaN,41,4_anio,separado,0,mujer,32,judaismo,sin_familia,0,NaN
32542,13,Palermo,NaN,72,4_anio,matrimonio_civil,0,hombre,25,cristianismo,casado,0,NaN

AttributeError: 'DataFrame' object has no attribute 'duplicates'